# This file refers to host.docker.internal do allow redirects to non-docker-hosted front- and backend instances, for development purposes
http://localhost:80 {
	log {
		format console
	}

# This is only needed for local development, as the frontend and backend are running on the same machine then
	@frontend_routes path_regexp ^/(api/auth/(login/(kit|google)|login-valid|refresh|callback|logout))$
	reverse_proxy @frontend_routes host.docker.internal:3000

#	@backend_routes path_regexp ^/(auth/(login/(google|kit)|callback|logout|refresh)$)|(api/)
#	reverse_proxy @backend_routes host.docker.internal:8080

	reverse_proxy /ws host.docker.internal:8080

	@keycloak_routes path_regexp ^/(realms/kit-dashboard/)
	reverse_proxy @keycloak_routes host.docker.internal:8081 {
	    header_up Host localhost
	}

	reverse_proxy * host.docker.internal:3000
}
