# This file refers to host.docker.internal do allow redirects to non-docker-hosted front- and backend instances, for development purposes
http://localhost:80 {
	log {
		format console
	}

    @spring_routes path_regexp ^/ws(-post)?$
	reverse_proxy @spring_routes host.docker.internal:8080

	@keycloak_routes path_regexp ^/(realms/kit-dashboard/)
	reverse_proxy @keycloak_routes host.docker.internal:8081 {
	    header_up Host localhost
	}

	reverse_proxy * host.docker.internal:3000
}
